In [1]:
import pandas as pd
import numpy as np

In [2]:

def getSeriesDataframe(title):
    csv = '../csv/{}.csv'.format(title)
    return pd.read_csv(csv, index_col=False)

In [3]:
df = getSeriesDataframe("title")

In [4]:
df.head()

,title,x,y,1000.57,1001.27,1001.98,1002.68,1003.38,1004.09,1004.79,...,1022.34,1023.04,1023.74,1024.44,1025.14,1025.84,1026.54,1027.24,1027.94,1028.63
0,title,1,0,116,113.667,108.000,118.667,115.667,124.333,136.000,...,148.333,131.333,121.667,130.667,126.667,128.000,121.667,122.333,122.333,120.333
1,title,0,0,132,132.667,116.667,119.667,123.000,142.000,143.667,...,144.000,136.667,125.000,130.667,142.667,129.667,133.000,125.333,126.667,132.667

In [5]:

radius = 1
frequency = [1005, 2000]
range = {'rangeX': [-radius, radius],
        'rangeY': [-radius, radius]}

df['x'] = pd.to_numeric(df['x'])
df['y'] = pd.to_numeric(df['y'])
mask = ((df['x'] >= range['rangeX'][0]) & (df['x'] <= range['rangeX'][1]) &
        (df['y'] >= range['rangeY'][0]) & (df['y'] <= range['rangeY'][1]))
df = df.loc[mask]
df.head()

,title,x,y,1000.57,1001.27,1001.98,1002.68,1003.38,1004.09,1004.79,...,1022.34,1023.04,1023.74,1024.44,1025.14,1025.84,1026.54,1027.24,1027.94,1028.63
0,title,1,0,116,113.667,108.000,118.667,115.667,124.333,136.000,...,148.333,131.333,121.667,130.667,126.667,128.000,121.667,122.333,122.333,120.333
1,title,0,0,132,132.667,116.667,119.667,123.000,142.000,143.667,...,144.000,136.667,125.000,130.667,142.667,129.667,133.000,125.333,126.667,132.667

In [6]:
df2 = pd.melt(df.iloc[:,1:], id_vars=['x', 'y'], var_name='frequency', value_name='intensity')
df2 = df2.sort_values(['x', 'y', 'frequency'])
df2

    x  y frequency  intensity
1   0  0   1000.57    132.000
3   0  0   1001.27    132.667
5   0  0   1001.98    116.667
7   0  0   1002.68    119.667
9   0  0   1003.38    123.000
.. .. ..       ...        ...
72  1  0   1025.84    128.000
74  1  0   1026.54    121.667
76  1  0   1027.24    122.333
78  1  0   1027.94    122.333
80  1  0   1028.63    120.333

[82 rows x 4 columns]

In [7]:

df2['frequency'] = pd.to_numeric(df2['frequency'])
mask = ((df2['frequency'] >= frequency[0]) & (df2['frequency'] <= frequency[1]))
df2 = df2.loc[mask]
df2

    x  y  frequency  intensity
15  0  0    1005.50    138.333
17  0  0    1006.20    127.000
19  0  0    1006.90    127.333
21  0  0    1007.60    137.667
23  0  0    1008.31    138.667
.. .. ..        ...        ...
72  1  0    1025.84    128.000
74  1  0    1026.54    121.667
76  1  0    1027.24    122.333
78  1  0    1027.94    122.333
80  1  0    1028.63    120.333

[68 rows x 4 columns]

In [8]:
df3 = pd.pivot_table(df2,values='intensity',index=['x','y'],columns='frequency').reset_index()
df3

frequency,x,y,1005.5,1006.2,1006.9,1007.6,1008.31,1009.01,1009.71,1010.41,...,1022.34,1023.04,1023.74,1024.44,1025.14,1025.84,1026.54,1027.24,1027.94,1028.63
0,0,0,138.333,127.000,127.333,137.667,138.667,137.667,129.667,148.667,...,144.000,136.667,125.000,130.667,142.667,129.667,133.000,125.333,126.667,132.667
1,1,0,123.000,132.333,122.333,120.000,125.000,122.667,128.333,147.667,...,148.333,131.333,121.667,130.667,126.667,128.000,121.667,122.333,122.333,120.333